<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>홈페이지</title>
  </head>
  <body>
    <div class="container">
      <%- include("nav.ejs") %>
      <div class="post_container">
        <div class="post_header">
          <span>제목</span>
          <span>내용</span>
          <span>글쓴이</span>
          <span>날짜</span>
        </div>
        <div class="post_bottom">
          <% for(let i = 0; i < posts.length; i++) { %>
          <div class="post_item">
            <a href="/detail/<%= posts[i]._id %>"><%= posts[i].title %></a>
            <a href="/detail/<%= posts[i]._id %>"><%= posts[i].content %></a>
            <span>정땅찌</span>
            <span><%= posts[i].date %></span>
          </div>
          <% } %>
        </div>
        <div class="post_footer"></div>
      </div>
    </div>
  </body>
</html>
